.detail-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.poster img {
  border-radius: 10px;
}

.info {
  width: 100%;
}

.field {
  margin: 10px 0;
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
}

.label {
  color: #74b9ff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.field:not(:last-child) {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
