nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}
.nav-item{
  display: flex;
  width: 90%;
 justify-content: center;
}
.nav-links {
  
}

li,
:link {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li :link {
  text-decoration: none;
  padding: 10px 5px;
}

li:not(:last-child) :link {
  margin-right: 15px;
}